.serve {
    &__container {
    }
    &__header {
        display: grid;
        grid-template-columns: 0.6fr 0.4fr;
        gap: 40px;

        @media (max-width: 767px) {
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }
    &__descr {
        align-self: end;
    }
    .serve-main {
        padding-top: clamp(2.5rem, 1.136rem + 6.82vw, 6.25rem);
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 0.5fr 2.5fr;

        @media (max-width: 991px) {
            grid-template-columns: repeat(3, 1fr);
        }

        &__img {
            background: url('image.avif') center center/cover no-repeat;
            filter: grayscale(100%);
            width: 100%;
            height: 100%;
            min-height: 370px;
            border-radius: 30px;

            @media (max-width: 991px) {
                grid-column: span 2;
                aspect-ratio: 16 / 9;
                min-height: unset;
            }

            @media (max-width: 767px) {
                grid-column: span 3;
            }
        }
        .serve-list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
            gap: 20px;

            @media (max-width: 991px) {
                grid-column: span 3;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 575px) {
                grid-template-columns: 1fr;
            }

            &__item {
                display: flex;
                align-items: flex-start;
                gap: 10px;

                span {
                    font-weight: 600;
                    font-family: 'Orbitron', sans-serif;
                    color: white;
                    min-width: 30px;
                }
            }

            &__item:last-child {
                font-size: 12px;
                font-style: italic;
                color: #888888;

                span {
                    font-weight: 600;
                    font-family: 'Orbitron', sans-serif;
                    color: white;
                }

                @media (max-width: 991px) and (min-width: 576px) {
                    grid-column: span 2;
                }
            }
        }
        .serve-deco {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
            gap: 20px;

            @media (max-width: 767px) {
                grid-column: span 3;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
            }

            @media (max-width: 575px) {
                flex-direction: column;
            }

            &__circle {
                align-self: end;

                @media (max-width: 767px) {
                    display: none;
                }
            }
            &__text {
                color: rgba(255, 255, 255, 1);

                font-family: 'Orbitron', sans-serif;
                font-size: 20px;
                font-weight: 500;
                line-height: 1.7;
                text-transform: uppercase;

                @media (max-width: 575px) {
                    text-align: center;
                }
            }
            &__badge {
                font-size: 14px;
                color: #888888;
                border-radius: 30px;
                backdrop-filter: blur(40px);
                background: rgba(255, 255, 255, 0.06);
                padding: 30px 20px;
                display: flex;
                justify-content: center;
                align-items: start;
                flex-direction: column;
                max-width: fit-content;
                line-height: 1.5;
                font-weight: 300;

                span {
                    font-family: 'Orbitron', sans-serif;
                    color: white;
                    font-size: 40px;
                    font-weight: 600;
                }
            }
        }
    }
}


