.serve__header {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  gap: 40px;
}
@media (max-width: 767px) {
  .serve__header {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
.serve__descr {
  align-self: end;
}
.serve .serve-main {
  padding-top: clamp(2.5rem, 1.136rem + 6.82vw, 6.25rem);
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 0.5fr 2.5fr;
}
@media (max-width: 991px) {
  .serve .serve-main {
    grid-template-columns: repeat(3, 1fr);
  }
}
.serve .serve-main__img {
  background: url("image.avif") center center/cover no-repeat;
  filter: grayscale(100%);
  width: 100%;
  height: 100%;
  min-height: 370px;
  border-radius: 30px;
}
@media (max-width: 991px) {
  .serve .serve-main__img {
    grid-column: span 2;
    aspect-ratio: 16/9;
    min-height: unset;
  }
}
@media (max-width: 767px) {
  .serve .serve-main__img {
    grid-column: span 3;
  }
}
.serve .serve-main .serve-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}
@media (max-width: 991px) {
  .serve .serve-main .serve-list {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 575px) {
  .serve .serve-main .serve-list {
    grid-template-columns: 1fr;
  }
}
.serve .serve-main .serve-list__item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.serve .serve-main .serve-list__item span {
  font-weight: 600;
  font-family: "Orbitron", sans-serif;
  color: white;
  min-width: 30px;
}
.serve .serve-main .serve-list__item:last-child {
  font-size: 12px;
  font-style: italic;
  color: #888888;
}
.serve .serve-main .serve-list__item:last-child span {
  font-weight: 600;
  font-family: "Orbitron", sans-serif;
  color: white;
}
@media (max-width: 991px) and (min-width: 576px) {
  .serve .serve-main .serve-list__item:last-child {
    grid-column: span 2;
  }
}
.serve .serve-main .serve-deco {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}
@media (max-width: 767px) {
  .serve .serve-main .serve-deco {
    grid-column: span 3;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
@media (max-width: 575px) {
  .serve .serve-main .serve-deco {
    flex-direction: column;
  }
}
.serve .serve-main .serve-deco__circle {
  align-self: end;
}
@media (max-width: 767px) {
  .serve .serve-main .serve-deco__circle {
    display: none;
  }
}
.serve .serve-main .serve-deco__text {
  color: rgb(255, 255, 255);
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7;
  text-transform: uppercase;
}
@media (max-width: 575px) {
  .serve .serve-main .serve-deco__text {
    text-align: center;
  }
}
.serve .serve-main .serve-deco__badge {
  font-size: 14px;
  color: #888888;
  border-radius: 30px;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  background: rgba(255, 255, 255, 0.06);
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  max-width: -moz-fit-content;
  max-width: fit-content;
  line-height: 1.5;
  font-weight: 300;
}
.serve .serve-main .serve-deco__badge span {
  font-family: "Orbitron", sans-serif;
  color: white;
  font-size: 40px;
  font-weight: 600;
}