.serve {
    &__container {
    }
    &__header {
        display: grid;
        grid-template-columns: 0.6fr 0.4fr;
        gap: 40px;

        @media (max-width: 767px) {
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }
    &__descr {
        align-self: end;
    }
    .serve-main {
        padding-top: clamp(2.5rem, 1.136rem + 6.82vw, 6.25rem);
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 0.5fr 2.5fr;

        @media (max-width: 991px) {
            grid-template-columns: repeat(3, 1fr);
        }

        &__img {
            background: url('https://images.unsplash.com/photo-1740686004244-e9bc7c75d8e5?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
                center center/cover no-repeat;
            filter: grayscale(100%);
            width: 100%;
            height: 100%;
            min-height: 370px;
            border-radius: 30px;

            @media (max-width: 991px) {
                grid-column: span 2;
                aspect-ratio: 16 / 9;
                min-height: unset;
            }

            @media (max-width: 767px) {
                grid-column: span 3;
            }
        }
        .serve-list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
            gap: 20px;

            @media (max-width: 991px) {
                grid-column: span 3;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 575px) {
                grid-template-columns: 1fr;
            }

            &__item {
                display: flex;
                align-items: flex-start;
                gap: 10px;

                span {
                    font-weight: 600;
                    font-family: 'Orbitron', sans-serif;
                    color: white;
                    min-width: 30px;
                }
            }

            &__item:last-child {
                font-size: 12px;
                font-style: italic;
                color: #888888;

                span {
                    font-weight: 600;
                    font-family: 'Orbitron', sans-serif;
                    color: white;
                }

                @media (max-width: 991px) and (min-width: 576px) {
                    grid-column: span 2;
                }
            }
        }
        .serve-deco {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
            gap: 20px;

            @media (max-width: 767px) {
                grid-column: span 3;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
            }

            @media (max-width: 575px) {
                flex-direction: column;
            }

            &__circle {
                align-self: end;

                @media (max-width: 767px) {
                    display: none;
                }
            }
            &__text {
                color: rgba(255, 255, 255, 1);

                font-family: 'Orbitron', sans-serif;
                font-size: 20px;
                font-weight: 500;
                line-height: 1.7;
                text-transform: uppercase;

                @media (max-width: 575px) {
                    text-align: center;
                }
            }
            &__badge {
                font-size: 14px;
                color: #888888;
                border-radius: 30px;
                backdrop-filter: blur(40px);
                background: rgba(255, 255, 255, 0.06);
                padding: 30px 20px;
                display: flex;
                justify-content: center;
                align-items: start;
                flex-direction: column;
                max-width: fit-content;
                line-height: 1.5;
                font-weight: 300;

                span {
                    font-family: 'Orbitron', sans-serif;
                    color: white;
                    font-size: 40px;
                    font-weight: 600;
                }
            }
        }
    }
}

.do {
    &__container {
        position: relative;
    }
    &__title {
        text-align: center;
    }
    &__wrapper {
    }
    &__img {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        img {
            display: block;
            position: relative;
            width: 100%;
            max-width: clamp(18.75rem, 4.688rem + 29.3vw, 28.125rem);
            aspect-ratio: 1 / 1;
            height: auto;
            display: block;
            border-radius: 30px;
        }

        img:first-child {
            right: 50%;
        }

        img:last-child {
            transform: translateY(-25%);
            outline: rgba(37, 37, 37, 1) 20px solid;
        }
    }
}

.do-wrapper {
    padding-top: clamp(2.5rem, 1.136rem + 6.82vw, 6.25rem);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 30px;

    position: relative;
    z-index: 2;

    @media (max-width: 991px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 575px) {
        grid-template-columns: 1fr;
    }
}
.do-item {
    border-radius: 30px;
    backdrop-filter: blur(40px);
    background: rgba(255, 255, 255, 0.06);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 30px;

    &__title::after {
        content: '';
        display: block;
        width: 50px;
        height: 2px;
        background: white;
        margin-top: 15px;
        border-radius: 2px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

.use {
    &__container {
    }
    &__title {
        text-align: center;
    }
    &__wrapper {
    }
    &__descr {
    }
}
.use-wrapper {
    padding-top: clamp(2.5rem, 1.136rem + 6.82vw, 6.25rem);

    display: grid;
    gap: 30px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, minmax(100px, auto));

    @media (max-width: 991px) {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(6, minmax(100px, auto));
    }
}
.use-item {
    border-radius: 30px;
    backdrop-filter: blur(40px);
    background-color: rgba(255, 255, 255, 0.06);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 30px;

    &:first-child {
        background: url('https://images.unsplash.com/photo-1735822081215-9184d443ddc5?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
            center center/cover no-repeat;
        filter: grayscale(100%);

        grid-column: 2 / 5;
        grid-row: 1 / 9;

        @media (max-width: 991px) {
            grid-column: 2 / 8;
            grid-row: 1 / 7;
        }

     
    }

    &:nth-child(2) {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
          @media (max-width: 991px) {
            grid-column: 1 / 5;
        }

           @media (max-width: 575px) {
            grid-column: 1 / 9;
        }
    }

      &:nth-child(3) {
        grid-column: 4 / 6;
        grid-row: 3 / 4;

        @media (max-width: 991px) {
            grid-column: 5 / 9;
        }

            @media (max-width: 575px) {
            grid-column: 1 / 9;
        }
    }

      &:nth-child(4) {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
              @media (max-width: 991px) {
            grid-column: 1 / 5;
        }

            @media (max-width: 575px) {
            grid-column: 1 / 9;
        }
    }

      &:nth-child(5) {
        grid-column: 4 / 6;
        grid-row: 5 / 6;

        @media (max-width: 991px) {
            grid-column: 5 / 9;
        }

            @media (max-width: 575px) {
            grid-column: 1 / 9;
        }
    }

    &__title {
    }
}
